/** root ***********************************************************************************/
.App {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
.layout-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 25px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
.detail-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

/** animations **********************************************************************************/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes shakeKeyframes {
	0%, 100% {
		transform: translateX(0);
	}
	20%, 60% {
		transform: translateX(-3px);
	}
	40%, 80% {
		transform: translateX(3px);
	}
}
.shake {
	animation: shakeKeyframes 0.4s ease-in-out;
}